.repo{
    display: flex;
    align-items: center;
}
.repo:hover{
    background-color: #eee;
}
.imageDiv{
    padding: 50px
}
.details{
    text-align: left;
}
.details .userInfo{
    display: inline-block;
}
.stars{
    border: solid 2px;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
}
.issues{
    border: solid 2px;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
}
@media (max-width:700px){
    .details{
        font-size: 10px;
        padding:10px;
    }
    .imageDiv{
        padding: 35px
    }
}